.yuehui-bg{background: url(../images/icon/bg-large.png) no-repeat top center #1e2934;}
.banner{margin: 0 auto;width: 1080px;height: 793px;background: url(../images/icon/banner.png) no-repeat;overflow: hidden;}
.logo{float: left;margin-top: 20px;}
.main{margin: 16px auto;width: 1080px;overflow: hidden;}
.prize{height: 109px;overflow: hidden;}
.box{overflow: hidden;}
.lottery-wrap{margin-top: 78px;float: left;width: 587px;overflow: hidden;}
.lottery-tt{height: 54px;background: url(../images/icon/bmyl-tt.png) no-repeat;}
.lottery{height: 410px;background: #fdb247;overflow: hidden;}
.gcyl-wrap{margin-top: 78px;float: right;width: 474px;height: 464px;background: url(../images/icon/gcyl.png) no-repeat;overflow: hidden;}
.lpzx-wrap{margin-top: 24px;overflow: hidden;}
.lpzx-tt{height: 54px;background: url(../images/icon/lpzx-tt.png) no-repeat center;}
.lpzx{position: relative;height: 148px;background: #181f27;overflow: hidden;}
.lpzx .bx-prev,.lpzx .bx-next{position: absolute;top: 50px;display: block;width: 30px;height: 50px;cursor: pointer;}
.lpzx .bx-prev{left: 26px;background: url(../images/icon/arrow-lt.png) no-repeat center;}
.lpzx .bx-next{right: 26px;background: url(../images/icon/arrow-rt.png) no-repeat center;}
.lpzx-slider{margin: 39px auto 0;width: 950px;overflow: hidden;}
.lpzx-list{width: 10000px;height: 90px;overflow: hidden;}
.lpzx-list li{float: left;width: 236px;text-align: center;}
.lpzx-list li img{width: 112px;height: 57px;}
.lpzx-list li p{margin-top: 10px;text-align: center;color: #fff;}
.lpzx-list li .dis{padding: 0 5px;background: #3f9e0b;}
.name-list{margin-top: 25px;height: 63px;line-height: 63px;overflow: hidden;background: #181f27;}
.name-lab{padding: 0 30px;display: block;float: left;border-right: dashed 1px #232d37;font-size: 28px;font-weight: bold;color: #fdb247;}
.name-wrap{float: left;margin-left: 40px;width: 810px;height: 63px;}
.name{width: 10000px;overflow: hidden;}
.name-info{display: inline-block;width: 270px;text-align: center;overflow: hidden;font-size: 20px;color: #fff;font-weight: bold;}
.name-info strong{color: #fdb247;}
.yh-rule{margin: 20px auto;text-align: center;}
.yh-rule a{color: #ff9228;font-size: 18px;text-decoration: underline;}
.yhrxc-tt{margin: 75px auto 0;width: 304px;height: 125px;background: url(../images/icon/yhrxc-tt.png) no-repeat;}
.city-menu{margin-top: 40px;float: left;width: 98px;overflow: hidden;}
.city-menu li{margin-bottom: 30px;width: 98px;height: 90px;}
.city-menu li a{position: relative;display: block;line-height: 90px;overflow: hidden;}
.city-menu li img{position: relative;z-index: 0;}
.city-menu li span{position: absolute;width: 100%;text-align: center;left: 0;top: 0;font-size: 28px;color: #fff;font-weight: bold;z-index: 9;}
.city-menu .city-cur{position: absolute;top: 0;right: 0;width: 0;height: 90px;background: url(../images/icon/city-active.png) no-repeat center;background-size: contain;overflow: hidden;}
.yhrxc-wrap{float: right;margin-top: 40px;width: 955px;overflow: hidden;}
.brand-wrap{background: #0a0e12;overflow: hidden;}
.brand{margin: 5px auto;width: 945px;border-radius: 5px;overflow: hidden;box-sizing: border-box;}
.brand li{float: left;border-right: 1px solid #0a0e12;border-bottom: 1px solid #0a0e12;width: 104px;height: 82px;text-align: center;overflow: hidden;background: #fff;}
.brand li a{position: relative;display: block;width: 104px;height: 82px;overflow: hidden;color: #1e2934;}
/*.brand li a:hover{background: #f8ae44;}*/
.brand .brand-pic{position: relative;}
.brand .brand-pic img{width: 54px;height: 54px;}
.brand .shape{position: absolute;display: block;border: 0 solid #fdb247;top: 0;left: 0;width: 100%;height: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.brand .brand-name{position: absolute;top: 0;left: 0;width: 100%;height: 100%;line-height: 127px;}
.brand-name span{display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 99;}
.brand-name span:hover,
.brand a.cur .brand-name span{background: rgba(253,178,71,0.2);}
.brand .brand-name::before,.brand .brand-name::after{-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;}
.brand .brand-name::before{
    top: 6px;
    right: 3px;
    bottom: 6px;
    left: 3px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: scale(0,1);
     transform: scale(0,1);
     -webkit-transform-origin: 0 0;
     transform-origin: 0 0;
}
.brand .brand-name::after{
    top: 3px;
    right: 6px;
    bottom: 3px;
    left: 6px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.brand a:hover .brand-name::before,
 .brand a:hover .brand-name::after ,.brand a.cur .brand-name::before,
.brand a.cur .brand-name::after{
     opacity: 1;
     -webkit-transform: scale(1);
     transform: scale(1);
 }
.brand-name::before,
.brand-name::after {
    position: absolute;
    content: '';
    opacity: 0;
}
.yhrxc-list-wrap{overflow: hidden;}
.yhrxc-list{margin-top: 22px;margin-right: -22px;overflow: hidden;}
.yhrxc-list li{float: left;margin: 0 22px 22px 0;width: 222px;height: 302px;border-radius: 4px;overflow: hidden;}
.pic-info{position: relative;height: 208px;border-top-left-radius: 5px;border-top-right-radius: 5px;background: #fff;overflow: hidden;}
.apply-wrap{height: 94px;background: #f7fbfe;overflow: hidden;}
.brand-logo{margin: 6px 0 0 8px;overflow: hidden;}
.brand-logo dt{margin-top: 4px;float: left;}
.brand-logo dt,.brand-logo dt img{width: 33px;height: 33px;}
.brand-logo dd{margin-left: 40px;font-size: 12px;}
.brand-logo dd span{padding: 1px 3px;line-height: 18px;border-radius: 15px;overflow: hidden;font-size: 12px;font-weight: bold;}
.brand-logo span.green{border: 1px solid #3f9e0b;color: #26303b;}
.brand-logo span.blue{border: 1px solid #4698e1;color: #232e39;}
.brand-logo dd p{color: #ff5454;font-weight: bold;}
.pic{position: relative;top: -20px;margin: 0 auto;display: table;text-align: center;width: 213px;height: 160px;overflow: hidden;}
.pic span{display: table-cell;vertical-align: middle;}
.pic img{max-width: 213px;max-height: 160px;}
.brand-tt{position: absolute;left: 0;bottom: 0;width: 100%;height: 57px;line-height: 67px;overflow: hidden;}
.brand-tt h2{font-size: 24px;color: #1e2934;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-weight: bold;}
.brand-tt .brand-tag{position: absolute;top: 0;right: 0;width: 57px;height: 57px;background: url(../images/icon/tag-ico.png) no-repeat;}
.price{margin-top: 10px;text-align: center;font-size: 11px;color: #1e2934;}
.price em{font-size: 16px;font-weight: bold;}
.price strong{font-14px;color: #ff5c5c;}
.price i.low{display: inline-block;margin: 0 1px;width: 8px;height: 10px;background: url(../images/icon/low-ico.png) no-repeat;}
.apply{margin: 5px 0 2px 0;text-align: center;}
.apply-btn{display: inline-block;width: 117px;height: 34px;line-height: 34px;background: url(../images/icon/apply-btn.png) no-repeat;font-size: 16px;color: #fff;-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;}
.apply-btn:hover{color: #fff;opacity: .7;}
.apply-num{font-size: 12px;text-align: center;}
.apply-num strong{color: #d15e09;font-weight: bold;}
.page{overflow: hidden;font-size: 0;text-align: center;}
.page li{margin: 0 2px;display: inline-block;}
.page li a{display: block;font-size: 14px;color: #1e2934;width: 34px;height: 34px;text-align: center;line-height: 34px;background: #fff;-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;}
.page li a:hover,.page li a.cur{background: #fd9d27;color: #fff;}
.page li a.prev,.page li a.next{width: 80px;}

.yhtmc-tt{margin: 80px auto 30px auto;width: 304px;height: 100px;background: url(../images/icon/yhtmc-tt.png) no-repeat;}
.yhtmc-list{position: relative;margin-bottom: 40px;width: 1074px;height: 366px;border: 3px solid #0a0e12;overflow: hidden;}
.yhtmc-list:last-child{margin-bottom: 0;}
/*.yhtmc-pic{width: 1074px;height: 366px;}*/
.yhtmc-info{position: absolute;top: 0;width: 398px;height: 366px;background: rgba(255,255,255,.88);}
.yhtmc-info.ab-lt{left: 0;}
.yhtmc-info.ab-rt{right: 0;}
.yhtmc-info .bd{padding: 38px 0 0 57px;}
.yhtmc-info h2{font-size: 34px;line-height: 34px;color: #ff9228;font-weight: bold;}
.low-price{height: 50px;line-height: 50px;font-size: 22px;color: #3f9e0b;}
.low-price i{position: relative;top: 3px;display: inline-block;width: 12px;height: 17px;background: url(../images/icon/low-ico-g.png) no-repeat;}
.emao-price-wrap{margin-top: 50px;overflow: hidden;}
.emao-price-wrap .label{float: left;}
.emao-price-wrap .label p{text-align: right;font-size: 26px;line-height: 28px;color: #1e2934;}
.emao-price-wrap .emao-price{float: left;font-size: 18px;color: #1e2934;}
.emao-price-wrap .emao-price em{font-size: 61px;line-height: 55px;color: #ff3333;font-weight: bold;}
.booking-wrap{margin-top: 20px;width: 284px;}
.booked{width: 282px;height: 41px;line-height: 41px;text-align: center;border: 1px dashed #ff9228;color: #1e2934;font-size: 16px;}
.booked strong{font-size: 22px;color: #fd6d27;}
.booking-btn{position: relative;top: -2px;display: block;width: 284px;height: 54px;line-height: 54px;text-align: center;font-size: 22px;color: #fff;background: url(../images/icon/booking-btn.png) no-repeat;-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;}
.booking-btn:hover{color: #fff;opacity: .7;}
.gclc-tt{margin: 80px auto 35px;width: 251px;height: 100px;background: url(../images/icon/gclc-tt.png) no-repeat;}
.mcj-tt{margin: 80px auto 35px;width: 304px;height: 126px;background: url(../images/icon/mcj-tt.png) no-repeat;}
.mcj-wrap{position: relative;overflow: hidden;}
.mcj-wrap .bx-viewport{padding-top: 10px;}
.mcj-list{width: 10000px;margin-right: -20px;}
.mcj-list li{position: relative;margin-right: 20px;float: left;width: 249px;height: 320px;border: 2px solid #0a0e12;}
.mcj-list li p{position: absolute;left: 0;bottom: 0;width: 100%;height: 46px;line-height: 46px;text-align: center;font-size: 18px;color: #fff;background: rgba(0,0,0,.8);overflow: hidden;}
.mcj-list li:hover{transform:translateY(-10px);-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-o-transform:translateY(-10px);transition: all ease-in-out .2s;-moz-transition: all ease-in-out .2s;-webkit-transition: all ease-in-out .2s;-o-transition: all ease-in-out .2s;box-shadow: 0 0 22px #000;}
.mcj-list li:hover p{color: #fdb247;}
.mcj-wrap .bx-prev,.mcj-wrap .bx-next{position: absolute;top: 128px;width: 56px;height: 92px;}
.mcj-wrap .bx-prev{left: 0;background: url(../images/icon/arrow-bg-lt.png) no-repeat;}
.mcj-wrap .bx-next{right: 0;background: url(../images/icon/arrow-bg-rt.png) no-repeat;}
.wish-wrap{margin-top: 80px;}
.wish-wrap .desc p{text-align: center;}
.large-h{font-size: 40px;line-height: 40px;color: #fff;}
.mid-h{font-size: 30px;line-height: 30px;color: #fff;}
.small-h{margin: 27px 0 13px 0;font-size: 22px;line-height: 22px;color: #fdb247;}
.wish-list{margin: 55px 0 10px 0;overflow: hidden;}
.wish-list li{position: relative;float: left;width: 540px;margin-bottom: 30px;}
.wish-list li label{display: inline-block;font-size: 22px;color: #fff;width: 160px;text-align: right;}
.wish-list li input{padding: 0 10px;width: 260px;height: 41px;border: 1px solid #0a0e12;background: #fff;line-height: 41px;font-size: 22px;}
.wish-list li .hint-info{display: none;position: absolute;top: 45px;left: 170px;color: #ff0000;}
.submit-wrap{overflow: hidden;}
.submit-wrap .submit-btn{margin: 0 auto;display: block;width: 240px;height: 50px;line-height: 50px;text-align: center;font-size: 20px;background: url(../images/icon/submit-btn.png) no-repeat;color: #fff;box-shadow: 0 6px #ab3c3c;}
.telphone{margin-top: 45px;text-align: center;font-size: 24px;color: #ff9228;font-weight: bold;}
/*抽奖*/
.flop{width:566px;height: 395px;margin:10px auto;overflow:hidden;}
.row{width:576px;margin:0 auto;}
.game-area{position:relative;}
.game-area .item ,.game-area .items {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: relative;
    float: left;
    width: 182px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right:10px;
    height: 127px;
    margin-bottom:5px;
}
.game-area .items{left:0;top:0;}
.game-area .item .positive-side,.game-area .item .reverse-side {
    background:url(../images/icon/lottery/bg.png) no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.game-area .item .positive-side {
    -webkit-transform: rotateY(0) translateZ(1px);
    transform: rotateY(0) translateZ(1px);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: table;
}
.game-area .item .positive-side span{
    display: table-cell;
    vertical-align: middle;
}
.game-area .item .reverse-side {
    margin: 1px;
    -webkit-transform: rotateY(180deg) translateZ(0);
    transform: rotateY(180deg) translateZ(0);
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/icon/lottery/bg1.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 16px;
}
.lottery-btn{width: 130px;height: 130px;margin:0 auto;background: url(../images/icon/lottery/start-btn.png) no-repeat -2px;}
.start-game{cursor:pointer;}
.start-game:hover{ background: url(../images/icon/lottery/start-btn-hover.png) no-repeat -2px;}
.goodluck{background: url(../images/icon/lottery/end.png) no-repeat -2px;}
.positive-side{text-align:center;}

/*form*/
.pop-wrap{display: none;position: fixed;padding: 0 50px;width: 610px;height: 677px;left: 50%;margin-left: -305px;top: 50%;margin-top: -330px;border-radius: 10px;background: #fff;font-size: 24px;color: #12191f;z-index: 999;}
.apply-form-tt,.apply-form-awards-tt,.apply-form-succeed-tt{position: absolute;width: 189px;height: 174px;left: 50%;margin-left: -95px;top: -94px;}
.apply-form-tt{background: url(../images/icon/pop/apply-form.png) no-repeat;}
.apply-form-awards-tt{background: url(../images/icon/pop/apply-form-awards.png) no-repeat;}
.apply-form-succeed-tt{background: url(../images/icon/pop/apply-form-succeed.png) no-repeat;}
.apply-info-tt{padding-top: 105px;line-height: 24px;}
.apply-info-tt strong{color: #ff9206;}
.apply-info-tt .apply-ps{position: relative;top: 5px;margin-right: 5px;display: inline-block;width: 29px;height: 29px;background: url(../images/icon/pop/wran-ico.png) no-repeat;}
.form-bd{margin-top: 35px;overflow: hidden;}
.form-bd li{margin-bottom: 25px;line-height: 44px;overflow: hidden;}
.form-bd li .form-tt{float: left;display: block;width: 120px;text-align: right;}
.form-bd li select{margin-right: 23px;}
.form-bd .inp,.form-bd .inp-s{height: 44px;border: 1px solid #999;font-size: 22px;color: #333;}
.form-bd .inp{width: 430px;}
.form-bd .inp-s{width: 200px;}
.form-bd .inp:focus,.form-bd .inp-s:focus{border: 1px solid #faaf36;}
.form-box{float: left;margin-left: 10px;display: inline-block;}
.form-box .ps{font-size: 12px;line-height: 24px;color: #666;}
.form-box label{margin: 0 60px 0 5px;}
.apply-form-succeed{height: 390px;}
.apply-form-awards .apply-info-tt,.apply-form-succeed .apply-info-tt{margin-top: 50px;line-height: 35px;}
.apply-form-awards .QR-code{margin-top: 30px;text-align: center;}
.apply-form-awards .QR-code img{width: 181px;height: 168px;margin-bottom: 5px;}
.apply-form-awards .QR-code p{line-height: 25px;font-size: 16px;color: #12191f;}
.submit-pop-wrap{position: absolute;left:0 ;bottom: 0;width: 100%;height: 80px;background: #fab92c;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;overflow: hidden;z-index: 1;}
.shade-box{display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: 0.4;z-index: 99;}
/*Btn Animate*/
.submit-btn{display: block;line-height: 80px;text-align: center;font-size: 28px;color: #fff;-webkit-transition: all 0.3s;-moz-t-transition: all 0.3s;transition: all 0.3s;overflow: hidden;background: none;}
.btn{
    background: none;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:after {
    content: '';
    position: absolute;
     z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.submit-btn:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #ff9206;
}

.submit-btn:hover,
.submit-btn:active {
    color: #fff;
}

.submit-btn:hover:after,
.submit-btn:active:after {
    height: 100%;
}
/*Animate*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
/*@-webkit-keyframes bor {*/
    /*from {*/
        /*border: 0 solid #fdb247;*/
    /*}*/
    /*10%,20% {*/
        /*border: 2px solid #fdb247;*/
    /*}*/
    /*30%,40% , 50%{*/
        /*border: 10px solid #fdb247;*/
    /*}*/
    /*50%, 60% {*/
        /*border: 2px solid #fdb247;*/
    /*}*/
    /*70% ,80%{*/
        /*border: 1px solid #fdb247;*/
    /*}*/
    /*to {*/
        /*border: 5px solid #fdb247;*/
    /*}*/
/*}*/

/*@keyframes bor {*/
    /*from {*/
        /*border: 0 solid #fdb247;*/
    /*}*/
    /*10%,20% {*/
        /*border: 2px solid #fdb247;*/
    /*}*/
    /*30%,40% , 50%{*/
        /*border: 10px solid #fdb247;*/
    /*}*/
    /*50%, 60% {*/
        /*border: 2px solid #fdb247;*/
    /*}*/
    /*70% ,80%{*/
        /*border: 1px solid #fdb247;*/
    /*}*/
    /*to {*/
        /*border: 5px solid #fdb247;*/
    /*}*/
/*}*/

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}
/*.bor {*/
    /*-webkit-animation-name: bor;*/
    /*animation-name: bor;*/
/*}*/

/*Img Animate*/
.yhtmc-list img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50px,0,0);
    transform: translate3d(-50px,0,0);
}
.yhtmc-list:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.yhrxc-list .pic img {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0,0,0);
    transform: perspective(1000px) translate3d(0,0,0);
}
.yhrxc-list li:hover img {
    -webkit-transform: perspective(1000px) translate3d(0,0,50px);
    transform: perspective(1000px) translate3d(0,0,50px);
}